<?xml version="1.0"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceAuthorization" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62244/ServiceAuthorization.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceAuthorization"
        contract="ServiceAuthorization.IServiceAuthorization" name="BasicHttpBinding_IServiceAuthorization" />
    </client>
  </system.serviceModel>
</configuration>